@media (min-aspect-ratio: 16/9) {
  #videobg {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  #videobg {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 1255px) {
  .rising-item {
    max-width: 368px;
  }

  .contact-section-leftside {
    padding-right: 20px;
  }

  .header-title {
    font-size: var(--font-lg);
  }

  .about-country-block {
    padding: 120px 15px;
  }

  .inner-list-item {
    width: 49%;
  }

  .container {
    padding: 0 15px;
  }

  .team-card {
    width: 30%;
    max-width: none;
  }

  .team-fixed-card img {
    width: 100%;
  }
}

@media (max-width: 1160px) {
  .rising-items {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .rising-item {
    margin-bottom: 32px;
  }

  .rising-list li {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1140px) {
  .about-us-column {
    flex-direction: column;
    align-items: center;
  }

  .team-block-text {
    padding: 0 15px;
  }

  .about-us-leftside {
    max-width: none;
    width: 100%;
    padding: 0 33px;
    margin-bottom: 40px;
  }

  .about-us {
    padding-top: 48px;
  }

  .info-item-title {
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .line-center {
    text-align: center;
  }
  .line-center .line {
    display: inline-block;
  }
  .country-info-item {
    width: 27%;
    margin-right: 30px;
    margin-bottom: 32px;
  }

  .investment-right img {
    width: 100%;
  }

  .investment-column {
    flex-direction: column;
    align-items: center;
  }
  .investment-left {
    max-width: 696px;
    padding-right: 0;
    margin-bottom: 32px;
  }
  .investment-block {
    padding: 64px 0;
  }
  .investment-title {
    font-size: 48px;
    text-align: center;
  }

  .contact-blocks {
    flex-direction: column;
    align-items: center;
  }

  .modal-card-image {
    transform: translate(-16px, -16px);
  }

  .contact-section-leftside {
    padding-right: 0;
    margin-bottom: 32px;
  }

  .country-info-items {
    flex-wrap: wrap;
    justify-content: unset !important;
  }

  .about-us-title {
    font-size: 48px;
  }

  .contact-section {
    padding: 64px 0;
  }

  @keyframes cardImage {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(-16px, -16px);
    }
  }

  .modal-card-image img {
    width: 100%;
  }

  .country-column {
    flex-direction: column;
  }

  .about-country-leftside {
    max-width: none;
    margin-bottom: 32px;
  }

  .about-country-block {
    padding: 64px 33px;
  }
}
@media (max-width: 960px) {
  .tools-items {
    flex-wrap: wrap;
  }
  .tools-info-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }
  .tools-info-list {
    max-width: none;
  }
  .slider-title {
    font-size: 40px;
  }
}

@media (max-width: 850px) {
  .header-nav {
    display: none;
  }

  .menu-wrap {
    display: block;
  }

  .header-top-menu {
    padding: 24px 33px;
  }
}

@media (max-width: 800px) {
  .info-items {
    flex-wrap: wrap;
    padding: 32px 33px 0;
  }

  .info-item {
    width: 50%;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
  }

  .info-item-icon {
    position: static;
    margin-right: 16px;
  }

  .about-us-info {
    margin-top: 50px;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .accordeon-items {
    padding: 33px;
  }
  .hc-card .card-body {
    padding: 32px;
  }
  .collapse-column {
    flex-direction: column;
  }
  .collapse-column .inner-tab-list {
    margin-bottom: 24px;
  }
  .collapse-column .inner-tab-list:last-child {
    margin-bottom: 0;
  }
  .tools-column {
    flex-direction: column;
    padding: 0 33px;
  }

  .tools-column .inner-tab-list {
    max-width: none;
    margin-bottom: 24px;
  }
  .rising {
    padding: 40px 0;
  }

  .team-card {
    max-width: 280px;
    width: 100%;
  }

  .rising-title {
    font-size: 36px;
  }

  .team-card:nth-child(odd) {
    margin-right: 32px;
  }

  .team-cards {
    justify-content: center !important;
  }

  .hc-layer-4 {
    bottom: -250px;
  }

  .video-section {
    background: url('../img/image_bg.png') center center;
    background-size: cover;
  }

  .video-title {
    font-size: var(--font-md-5);
  }

  .tabs-section {
    padding-top: 40px;
  }

  .video-title-wrapper {
    padding: 0 15px;
  }

  .hc-tab-label {
    font-size: 16px;
  }

  #videobg {
    display: none;
  }

  .tab-list-row {
    display: block !important;
  }

  .tab-list-row li {
    width: 100%;
    max-width: none;
    margin-bottom: 16px;
  }

  .tab-list-row li div {
    display: inline-block;
  }

  .mv-tab-list {
    width: 100%;
  }

  .tabs-column {
    flex-direction: column;
  }

  .menu-wrap .menu>div {
    border-radius: 0;
  }

  .item-text-block {
    font-size: 16px;
  }

  .bg-header {
    height: 100%;
    background: url('../img/image_bg.png') center center;
    background-size: cover;
  }

  .inner-list-item {
    width: 100%;
  }

  .rising-item-name,
  .rising-list-item {
    font-size: 16px;
  }
}

@media (max-width: 681px) {
  .nav {
    flex-direction: column;
  }
  .slider-wrapper .owl-nav {
    top: -35%;
  }
  .slider-wrapper .owl-next {
    background: url('../icons/right_arrow-m.svg') 0 0 no-repeat!important;
    width: 32px;
    height: 32px;
  }
  .slider-wrapper .owl-prev {
    background: url('../icons/right_arrow-m.svg') 0 0 no-repeat !important;
    width: 32px;
    height: 32px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
  .hc-tab-label {
    padding: 24px 0;
  }

  .tabs-section .nav-link.active:hover {
    border-bottom: 2px solid var(--color-gold);
  }

  .tabs-section .nav-link.active {
    border-bottom: 2px solid var(--color-gold);
  }
}

@media (max-width: 650px) {
  .info-item {
    width: 100%;
  }
}

@media (max-width: 638px) {
  .country-info-item {
    width: 50%;
    margin-right: 0;
  }

  .team-card {
    max-width: 310px;
  }

  .country-image-1 {
    margin-right: 20px;
  }

  .team-card:nth-child(odd) {
    margin-right: 0;
  }

  .modal-card-info {
    flex-direction: column;
  }

  .modal-card-image {
    transform: translate(0, 0);
  }

  @keyframes cardImage {
    0% {
      transform: translate(0, 0);
    }

    100% {
      transform: translate(0, 0);
    }
  }

  .modal-card-rightside {
    padding: 16px;
  }

  .modal-card-text {
    font-size: 16px;
  }

  .team-section .carousel-inner {
    overflow: hidden;
  }

  .team-section .modal-dialog {
    padding-left: 0;
    margin: 0;
  }

  .video-section .modal-dialog {
    margin: 0;
  }

  .section-slider .modal-dialog {
    padding-left: 0;
    margin: 0;
  }

  .modal-card-name {
    font-size: 20px;
  }
}

@media (max-width: 550px) {
  .slider-wrapper .modal-content {
    border: none;
  }
  .slider-wrapper .modal {
    padding-right: 0!important;
  }
  .pos-top {
    display: block;
  }
  .team-section .modal {
    padding-right: 0!important;
  }
  .video-section .modal {
    padding-right: 0!important;
  }
  .video-section .modal-header {
    display: none;
  }
  .video-section .modal-body {
    padding: 15px;
  }
  .tools-info-title {
    font-size: 24px;
  }
  .hc-card-title {
    justify-content: center!important;
    padding: 19px 30px;
  }
  .team-section .modal-dialog-centered {
    align-items: flex-start;
  }
  .team-section .modal-dialog {
    height: 100%;
  }
  .team-section .modal-content {
    height: 100%;
  }
  .hc-card-number {
    margin-bottom: 8px;
    width: 24px;
    height: 24px;
    color: #35425B;
  }
  .hc-card[aria-expanded="true"] .hc-card-number {
    color: #fff;
  }
  .accordeon-items {
    padding: 40px 0;
  }
  .hc-card-link {
    margin-left: 0;
  }
  .column-sm {
    flex-direction: column;
  }
  .hc-card {
    position: relative;
  }
  .toggle-plus {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  .hc-card-link {
    font-size: 16px;
  }
  .slider-title {
    font-size: 36px;
  }
  .tools-info {
    padding: 40px 0;
  }
  .tools-items {
    margin-bottom: 20px;
  }
  .tools-text {
    font-size: 16px;
  }
.tools-info-title {
  font-size: 24px;
}
  .hc-slide-date,
  .hc-slide-title {
    font-size: 16px;
    line-height: 24px;
  }

  .hc-slide {
    padding: 24px 16px;
  }

  .hc-slide-text {
    font-size: 14px;
  }

  .slider-wrapper .owl-nav {
    position: absolute;
    top: -28%;
    right: 3%;
  }

  .about-country-block {
    padding: 40px 16px;
  }

  .about-us-rightside {
    height: auto;
  }

  .hc-tabs-title {
    font-size: var(--font-md-4);
  }

  .about-image-rightside {
    position: relative;
    bottom: 20px;
  }

  .hc-layer-4 {
    bottom: -300px;
  }

  .hc-mr-2 {
    margin-right: 10px;
    margin-bottom: 70px;
  }

  .video-title {
    font-size: 36px;
  }

  .about-us-title {
    font-size: var(--font-md-4);
  }

  .about-us-text {
    line-height: 24px;
    font-size: var(--font-base);
  }

  .about-us-leftside {
    padding: 0;
  }
}

@media (max-width: 480px) {
  .hc-card .card-body {
    padding: 16px;
  }
  .tools-column {
    padding: 0;
  }
  .tools-text-bg {
    padding: 16px;
    font-size: 16px;
  }
  .investment-title {
    font-size: 24px;
  }
  .investment-block {
    padding: 40px 0;
    background-position: 100% 175%;
  }
  .country-info-item {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .carousel-item-content {
    padding: 0 16px;
  }
  .section-slider .modal-dialog {
    width: 100%;
  }
  .contact-section-rightside {
    padding: 16px;
  }
  .hc-title-md,
  .default-size-1 {
    font-size: 16px;
  }
  .country-info-image {
    margin-bottom: 0 !important;
    margin-right: 20px;
  }

  .country-info-image img {
    height: auto;
  }

  .country-image-1 {
    width: 145px;
  }

  .country-image-2 {
    width: 100px;
  }

  .country-image-3 {
    width: 220px;
  }

  .team-fixed-card:hover {
    transform: translate(0, 0);
  }

  .team-block-wrapper {
    margin-bottom: 40px;
  }

  .team-block-text {
    font-size: 16px;
  }

  .lang-desk {
    display: none;
  }

  .inner-tab-list li {
    font-size: var(--font-base);
    line-height: 24px;
  }

  .menu-wrap .hamburger {
    width: 40px;
    padding: 1rem 0 1rem 1rem;
  }

  .tab-content {
    padding: 24px 16px;
  }

  .header-top-menu {
    padding: 15px 0;
  }

  .menu-wrap .menu>div {
    height: 100%;
  }

  .header-title {
    font-size: 24px;
  }

  .header-title-block {
    text-align: center;
  }

  .header-title-text {
    font-size: 16px;
    line-height: 24px;
  }

  .inner-tab-text {
    font-size: var(--font-base);
    line-height: 24px;
  }

  .list-item-title {
    font-size: var(--font-base);
  }
}

@media (max-width: 380px) {
  .section-slider {
    padding: 140px 0;
  }

  .about-country-block {
    padding-right: 0;
    padding-left: 0;
  }

  .lang-mobile {
    display: block;
  }

  .country-image-1 {
    width: 110px;
  }

  .country-image-2 {
    width: 60px;
  }

  .country-image-3 {
    width: 170px;
  }

  .menu-wrap .menu>div>div>ul>li>a {
    font-size: 16px;
  }

  .menu-wrap .menu>div>div>ul {
    margin-bottom: 70px;
  }

  .header-lang-panel a {
    font-family: var(--f-montserrat);
  }

  .menu-wrap .menu>div>div>ul>li {
    margin-bottom: 24px;
  }

  .info-items {
    padding-left: 0;
    padding-right: 0;
  }

  .team-title {
    font-size: 36px;
  }
}

@media (max-width: 320px) {
  .country-image-1 {
    width: 90px;
  }

  .country-image-3 {
    width: 168px;
  }
}