body {
  font-family: var(--f-montserrat);
}

.hc-text-center {
  text-align: center;
}

/* GLOBAL VARIABLES CSS */
:root {
  /* FONT FAMILY */
  --f-montserrat: 'Montserrat', sans-serif;
  --f-pt-sans: 'PT Sans', sans-serif;
  /* COLORS */
  --color-grey: #FAFBFD;
  --color-light-grey: #F0F4F8;
  --color-gold: #CEA45B;
  --color-md-grey: #D7E1EA;
  --color-white: #ffffff;
  --dark-blue: #1B2D43;
  --md-dark-blue: #35425B;
  /* FONT SIZE */
  --font-base: 16px;
  --font-md-1: 18px;
  --font-md-2: 20px;
  --font-md-3: 32px;
  --font-md-4: 36px;
  --font-md-5: 48px;
  --font-lg: 64px;
  --font-ex-lg: 96px;
  /* INDENTS */
  --ml-1: 16px;
  --mr-2: 24px;
  --mb-6: 60px;
}

.hc-mb-1 {
  margin-bottom: 16px;
}

/* BG-COLORS */

.hc-bg-grey {
  background: var(--color-grey);
}

/* FLEX PROPERTIES */
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER PROPERTIES */
header {
  background: url('../img/image_bg.png') 0 0 no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 900px;
}

.header-top-menu {
  padding-top: 24px;
}

.header-nav {
  margin-left: 48px;
  font-family: var(--f-pt-sans);
}

.header-nav ul {
  list-style: none;
}

.header-nav ul li {
  margin-right: 24px;
}

.header-nav ul li:last-child {
  margin-right: 0;
}

.header-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-grey);
  font-size: var(--font-base);
}

.header-lang-panel a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-grey);
  font-size: var(--font-base);
  margin-right: 16px;
  font-family: var(--f-pt-sans);
}

.header-lang-panel a:last-child {
  margin-right: 0;
}

.header-lang-panel a:hover {
  color: var(--color-gold);
  text-decoration: underline;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header-title-block {
  color: var(--color-white);
  font-weight: bold;
  margin-top: 300px;
}

.header-title {
  font-size: var(--font-ex-lg);
  margin-bottom: 40px;
}

.header-title-text {
  color: var(--color-md-grey);
  font-size: var(--font-md-3);
}

/* ABOUT BLOCK STYLE */
.about-us {
  padding-top: 96px;
  color: var(--dark-blue);
}

.about-us-title {
  font-size: var(--font-lg);
  font-weight: bold;
}

.about-us-text {
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  margin-bottom: 24px;
  line-height: 32px;
}

.about-us-text:last-child {
  margin-bottom: 0;
}

.line {
  width: 96px;
  height: 8px;
  margin: 32px 0;
  background: var(--color-gold);
}

.about-us-rightside,
.about-us-leftside {
  max-width: 590px;
  width: 100%;
}

.about-us-rightside {
  position: relative;
  height: 500px;
}

.about-us-image {
  -webkit-box-shadow: inset 0px 0px 0px 6px rgba(240, 244, 248, 1);
  box-shadow: inset 0px 0px 0px 6px rgba(240, 244, 248, 1);
}

.about-us-image img {
  position: relative;
  z-index: -1;
}

.ml-1 {
  margin-left: var(--ml-1);
}

.mr-2 {
  margin-right: var(--mr-2);
}

.mb-6 {
  margin-bottom: var(--mb-6);
}

.about-image-rightside {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
}

.about-us-info {
  margin-top: 130px;
  padding-bottom: 45px;
  background: var(--color-light-grey);
}

.info-item-title {
  font-size: var(--font-md-4);
  color: var(--color-gold);
  font-weight: bold;
  margin-bottom: 15px;
}

.info-item-text {
  color: var(--md-dark-blue);
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  font-weight: bold;
}

.info-item-icon {
  background: #fff url('../icons/about-block/Rectangle.svg') 0 0 no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  background-position: bottom right;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  -webkit-box-shadow: 0px 16px 32px rgba(67, 86, 100, 0.2);
  box-shadow: 0px 16px 32px rgba(67, 86, 100, 0.2);
  position: relative;
  top: -35px;
}

.hc-tabs-section {
  background: var(--color-grey);
  padding: 88px 0 115px;
  height: 773px;
}

.hc-tabs-title {
  color: var(--dark-blue);
  font-size: var(--font-md-5);
  font-weight: bold;
  margin-bottom: 32px;
}

.line-tabs {
  width: 120px;
  height: 8px;
  background: var(--color-md-grey);
  display: inline-block;
}

.hc-tabs {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
}

.hc-tabs::before,
.hc-tabs::after {
  content: "";
  display: table;
}

.hc-tabs::after {
  clear: both;
}

.hc-tab {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}

.hc-tab-switch {
  display: none;
}

.hc-tab-label {
  display: block;
  font-size: var(--font-md-1);
  color: var(--md-dark-blue);
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  text-align: center;
  font-weight: 600;
  padding: 34px 0;
}

.hc-tab-label::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 0;
  background: var(--color-light-grey);
}

.hc-tab-content {
  -webkit-box-shadow: 0px 16px 32px rgba(67, 86, 100, 0.08);
  box-shadow: 0px 16px 32px rgba(67, 86, 100, 0.08);
  position: absolute;
  z-index: 1;
  left: 0;
  background: #fff;
  color: #2c3e50;
  display: none;
  margin-bottom: 88px;
  font-family: var(--f-pt-sans);
}

.hc-tab-switch:checked+.hc-tab-label {
  background: #fff;
  color: #101B29;
  border-bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  position: relative;
  z-index: 1;
}

.hc-tab-switch:checked+.hc-tab-label:before {
  content: none;
}

.hc-tab-switch:checked+label+.hc-tab-content {
  z-index: 2;
  display: block;
  min-height: 448px;
  padding: 48px 48px 16px;
  max-width: 1104px;
  width: 100%;
}

.inner-tab-list {
  flex: 1 0 0%;
  max-width: 520px;
}

.inner-tab-list li {
  color: var(--dark-blue);
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  line-height: 32px;
  margin-bottom: 16px;
  padding: 0 24px;
  position: relative;
}

.inner-tab-list li::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 8px;
  height: 8px;
  background: var(--color-gold);
}

.inner-tab-list li:last-child {
  margin-bottom: 0;
}

.inner-tab-text {
  max-width: 840px;
  margin: 0 auto;
  font-size: var(--font-md-1);
  color: var(--dark-blue);
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 32px;
}

.inner-tab-icon {
  width: 72px;
  height: 72px;
  background: var(--color-light-grey);
  display: flex;
  justify-content: center;
}

.list-item-title {
  font-size: var(--font-md-1);
  margin-left: 24px;
  font-weight: bold;
  color: var(--dark-blue);
}

.inner-list-item {
  margin-bottom: 32px;
}