body {
  background: var(--color-white);
  font-family: var(--f-montserrat);
}

b {
  font-weight: bold;
}

/* GLOBAL VARIABLES CSS */
:root {
  /* FONT FAMILY */
  --f-montserrat: 'Montserrat', sans-serif;
  --f-pt-sans: 'PT Sans', sans-serif;
  /* COLORS */
  --color-grey: #FAFBFD;
  --color-light-grey: #F0F4F8;
  --color-gold: #CEA45B;
  --color-md-grey: #D7E1EA;
  --color-white: #ffffff;
  --dark-blue: #1B2D43;
  --md-dark-blue: #35425B;
  --color-dark-2: #101B29;
  /* FONT SIZE */
  --font-base: 16px;
  --font-md-1: 18px;
  --font-md-2: 20px;
  --font-md-3: 32px;
  --font-md-4: 36px;
  --font-md-5: 48px;
  --font-lg: 64px;
  --font-ex-lg: 96px;
  /* INDENTS */
  --ml-1: 16px;
  --mr-2: 24px;
  --mb-6: 60px;
}

.hc-pt-font {
  font-family: var(--f-pt-sans);
}

.hc-title-md {
  font-weight: bold;
  font-size: var(--font-md-2);
  color: var(--color-dark-2);
}

.default-size-pt {
  font-family: var(--f-pt-sans);
  font-size: var(--font-base);
  line-height: 24px;
  font-weight: normal;
}

.default-size-1 {
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
}

.hc-mb-1 {
  margin-bottom: 16px;
}

.hc-mb-2 {
  margin-bottom: 24px;
}

.hc-mb-3 {
  margin-bottom: 32px;
}

.hc-mb-14 {
  margin-bottom: 140px;
}

.hc-lh-normal {
  line-height: 32px;
}

.hc-link-underline {
  text-decoration: underline;
}

/* CLASSES COLORS */

.hc-dark-blue {
  color: var(--dark-blue);
}

.hc-color-gold {
  color: var(--color-gold);
}

/* BG-COLORS */

.hc-bg-grey {
  background: var(--color-grey);
}

.hc-light-grey {
  background: var(--color-md-grey) !important;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}

/* HEADER PROPERTIES */
header {
  height: 100vh;
}

.bg-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#videobg {
  position: fixed;
  z-index: -1;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.header-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(16, 27, 41, 0.85)), to(rgba(16, 27, 41, 0.9)));
  background: linear-gradient(180deg, rgba(16, 27, 41, 0.85) 0%, rgba(16, 27, 41, 0.9) 100%);
}

.header {
  position: relative;
  overflow: hidden;
}

.header::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  background: var(--color-gold);
  width: 4px;
  height: 80px;
  -webkit-animation: autoScroll 2s infinite ease-in-out;
          animation: autoScroll 2s infinite ease-in-out;
  z-index: 2000;
}

@-webkit-keyframes autoScroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes autoScroll {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 30px);
            transform: translate(0, 30px);
  }

  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.header-top-menu {
  position: fixed;
  width: 100%;
  z-index: 3000;
}

.header-nav {
  margin-left: 48px;
  font-family: var(--f-pt-sans);
}

.header-nav ul {
  list-style: none;
}

.header-nav ul li {
  margin-right: 24px;
  position: relative;
  padding: 34px 0px;
}

.header-nav ul li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: var(--color-gold);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.header-nav ul li:hover::before {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-nav ul li:last-child {
  margin-right: 0;
}

.header-nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-grey);
  font-size: var(--font-base);
}

.header-nav ul li a.active {
  position: relative;
}

.header-nav ul li a.active::before {
  content: '';
  position: absolute;
  top: -158%;
  left: 0;
  width: 100%;
  height: 4px;
  opacity: 1;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: var(--color-gold);
}

.header-nav ul li a:focus {
  outline: none;
}

.header-lang-panel a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-grey);
  font-size: var(--font-base);
  margin-left: 16px;
  font-family: var(--f-pt-sans);
}

.header-lang-panel a:hover {
  color: var(--color-gold);
  text-decoration: underline;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: var(--dark-blue);
}

.fixed-header .header-nav, .logo,   .header-lang-panel{
  visibility: visible!important;
}

.header-title-block {
  color: var(--color-white);
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-title {
  font-size: var(--font-ex-lg);
  margin-bottom: 40px;
}

.header-title-text {
  color: var(--color-md-grey);
  font-size: var(--font-md-3);
}

/* ABOUT BLOCK STYLE */
.about-us {
  padding-top: 96px;
}

.about-us-title {
  font-size: var(--font-lg);
  font-weight: bold;
}

.about-us-text {
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  margin-bottom: 24px;
  line-height: 32px;
}

.about-us-text:last-child {
  margin-bottom: 0;
}

.line {
  width: 96px;
  height: 8px;
  margin: 32px 0;
  display: inline-block;
  background: var(--color-gold);
}

.about-us-leftside {
  padding-right: 20px;
}

.about-us-rightside,
.about-us-leftside {
  max-width: 590px;
  width: 100%;
}

.about-us-rightside {
  position: relative;
  height: 500px;
}

.about-us-image {}

.about-us-image img {
  display: block;
  width: 100%;
  border: 6px solid #F0F4F8;
}

.about-image-1 {
  max-width: 488px;
  width: 100%;
}

.about-image-2 {
  max-width: 416px;
}

.hc-ml-1 {
  margin-left: var(--ml-1);
}

.hc-mr-2 {
  margin-right: var(--mr-2);
}

.mb-6 {
  margin-bottom: var(--mb-6);
}

.about-image-rightside {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
}

.about-us-info {
  margin-top: 130px;
  padding-bottom: 45px;
  background: var(--color-light-grey);
}

.info-item-title {
  font-size: var(--font-md-4);
  color: var(--color-gold);
  font-weight: bold;
  margin-bottom: 15px;
}

.info-item-text {
  color: var(--md-dark-blue);
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  font-weight: bold;
}

.info-item-icon {
  background: #fff url('../icons/about-block/Rectangle.svg') 0 0 no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  background-position: bottom right;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  -webkit-box-shadow: 0px 16px 32px rgba(67, 86, 100, 0.2);
  box-shadow: 0px 16px 32px rgba(67, 86, 100, 0.2);
  position: relative;
  top: -35px;
}

.hc-tabs-title {
  font-size: var(--font-md-5);
  font-weight: bold;
  margin-bottom: 32px;
}

.line-tabs {
  width: 120px;
  height: 8px;
  background: var(--color-md-grey);
  display: inline-block;
}

.hc-tab {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}

.hc-tab-switch {
  display: none;
}

.hc-tab-label {
  display: block;
  font-size: var(--font-md-1);
  color: var(--md-dark-blue);
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  text-align: center;
  font-weight: 600;
  padding: 34px 0;
  position: relative;
}

.tab-content {
  -webkit-box-shadow: 0px 16px 32px rgba(67, 86, 100, 0.08);
  box-shadow: 0px 16px 32px rgba(67, 86, 100, 0.08);
  background: #fff;
  color: #2c3e50;
  font-family: var(--f-pt-sans);
  padding: 48px;
}

.inner-tab-list {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  max-width: 532px;
}

.inner-tab-list li {
  color: var(--dark-blue);
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  line-height: 32px;
  margin-bottom: 16px;
  padding: 0 24px;
  position: relative;
}

.inner-tab-list li::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 0;
  width: 8px;
  height: 8px;
  background: var(--color-gold);
}

.inner-tab-list li:last-child {
  margin-bottom: 0;
}

.inner-tab-text {
  max-width: 840px;
  margin: 0 auto;
  font-size: var(--font-md-1);
  color: var(--dark-blue);
  font-weight: bold;
  line-height: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.inner-tab-icon {
  width: 72px;
  height: 72px;
  background: var(--color-light-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-item-title {
  font-size: var(--font-md-1);
  margin-left: 24px;
  font-weight: bold;
  color: var(--dark-blue);
}

.inner-list-item {
  margin-bottom: 32px;
}

.tabs-section {
  background: var(--color-grey);
  padding: 88px 0 117px;
}

.tabs-section .nav-tabs {
  border-bottom: none;
  margin-top: 48px;
}

.tabs-section .nav-tabs .nav-link {
  border: none;
}

.tabs-section .nav-link.active::before {
  content: none;
}

.tabs-section .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 0;
  background: var(--color-light-grey);
}

.tabs-section .nav-link.active {
  color: var(--color-dark-2);
}

.tabs-section .nav-link:hover {
  color: var(--color-dark-2);
}

.tabs-section .nav-link.active:hover {
  border: none;
  color: var(--color-dark-2);
}

.tabs-section .nav-link:focus {
  outline: none;
  border: none;
}

.tab-list-row {
  max-width: none;
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid var(--color-light-grey);
}

.tab-list-row li {
  max-width: 328px;
  margin-bottom: 0;
}

.item-rm-icon {
  padding: 23px 0;
  padding-left: 16px;
  margin-left: 0;
  border-left: 4px solid var(--color-gold);
}

.mv-tab-list {
  width: 47%;
}

.item-text-block {
  color: var(--dark-blue);
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  line-height: 32px;
}

.video-section {
  position: relative;
}

.video-section video {
  display: block;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-dark-2);
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

.video-title-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 200;
}

.video-title {
  font-size: var(--font-lg);
  font-weight: bold;
  color: var(--color-white);
}

.video-title-wrapper {
  max-width: 656px;
}

.hc-parallax {
  min-height: 900px;
  position: relative;
  overflow: hidden;
  background: url('../img/team-block/parallax/back_mount.png');
}

.hc-layer-1 {
  background: url('../img/team-block/parallax/front_mountains.png');
  background-position: center center;
  height: 850px;
  width: 100%;
  position: absolute;
  bottom: -214px;
  left: 0;
  z-index: 1;
}

.hc-layer-3 {
  background: url('../img/team-block/parallax/clouds.png');
  height: 1018px !important;
  position: absolute;
  bottom: -118%;
  z-index: 2;
}

.hc-layer-4 {
  background: url('../img/team-block/parallax/pr-logo.svg');
  max-width: 328px;
  max-height: 216px;
  z-index: 0;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: -180px;
}

.hc-layer {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 900px;
}

.team-title {
  color: var(--dark-blue);
  font-size: var(--font-ex-lg);
  font-weight: bold;
}

.team-block-title {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.team-block-wrapper {
  max-width: 1000px;
  text-align: center;
  margin-bottom: 190px;
}

.line-team {
  width: 120px;
  display: inline-block;
}

.team-block-text {
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  line-height: 32px;
}

.card-title-block {
  padding: 20px 8px;
  background: var(--color-grey);
  text-align: center;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.team-card {
  width: 25%;
  max-width: 280px;
  margin-bottom: 32px;
  cursor: pointer;
  background: var(--color-light-grey);
}

.team-fixed-card {
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}
.team-fixed-card img {
  width: 100%;
}

.team-fixed-card:hover {
  -webkit-transform: translate(-16px, -16px);
          transform: translate(-16px, -16px);
}

.team-card:hover .card-title-block {
  background: var(--dark-blue);

}

.team-card:hover .card-name {
  color: var(--color-white);
}

.team-card:hover .card-position {
  color: var(--color-white);
}

.card-name {
  color: var(--color-dark-2);
  font-size: var(--font-base);
  font-weight: bold;
  margin-bottom: 12px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.card-position {
  color: var(--md-dark-blue);
  font-size: 14px;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.team-section {
  padding: 38px 0;
}

.about-country-block {
  background: var(--color-grey);
  padding: 120px 112px;
}

.about-country-rightside {
  max-width: 696px;
  width: 100%;
  background: url('../img/country-block/country-map.svg') 0 55px no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-country-leftside {
  max-width: 488px;
  width: 100%;
}

.about-country-item {
  max-width: 280px;
}

.about-country-image {
  border: 6px solid #F0F4F8;
}

.about-country-image img {
  width: 100%;
}

.country-image-1 {
  width: 196px;
}

.country-image-2 {
  width: 148px;
  margin-bottom: 80px;
  margin-right: 132px;
}

.country-image-3 {
  width: 280px;
}

.country-info {
  padding: 40px 0;
  background: var(--color-light-grey);
}

.country-info-title {
  font-size: var(--font-md-1);
  color: var(--md-dark-blue);
  font-family: var(--f-pt-sans);
}

.country-info-text {
  color: var(--dark-blue);
  font-size: var(--font-md-2);
  font-weight: bold;
}

.country-info-image img {
  height: 48px;
}

.rising {
  padding: 88px 0 103px;
}

.rising-items {
  margin-bottom: 40px;
}

.rising-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 6px 12px rgba(67, 86, 100, 0.08);
          box-shadow: 0px 6px 12px rgba(67, 86, 100, 0.08);
  max-width: 384px;
  width: 100%;
}

.rising-title {
  font-size: var(--font-md-5);
  color: var(--dark-blue);
  margin-bottom: 32px;
}

.rising-item-name {
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  color: var(--dark-blue);
  border: 1px solid var(--color-md-grey);
  padding: 22px 0;
  background: var(--color-grey);
}

.rising-item-image {
  padding: 24px;
  border: 1px solid var(--color-md-grey);
  border-top: none;
}

.rising-list {
  padding: 24px;
  border: 1px solid var(--color-md-grey);
  border-top: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rising-list li {
  border-bottom: 1px solid var(--color-md-grey);
  padding-bottom: 40px;
}

.rising-list li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.rising-list-item {
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  color: var(--dark-blue);
}

.rising-text {
  max-width: 800px;
  margin: 0 auto;
}

.rising-text p {
  font-family: var(--f-pt-sans);
  font-size: var(--font-base);
  color: var(--md-dark-blue);
  line-height: 24px;
}

.section-slider {
  background: var(--color-grey);
  padding: 137px 0 209px;
}

.slider-title {
  color: var(--color-gold);
  font-size: var(--font-ex-lg);
}

.hc-slide {
  border-left: 4px solid var(--color-light-grey);
  padding: 24px 32px;
  cursor: pointer;
  max-width: 520px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hc-slide:hover {
  background: var(--color-white);
  border-color: var(--color-gold);
}

.hc-slide-title {
  font-size: var(--font-md-2);
  color: var(--color-dark-2);
  line-height: 32px;
}

.hc-slide-date {
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  color: var(--color-gold);
}

.hc-slide-text {
  font-family: var(--f-pt-sans);
  font-size: var(--font-base);
  font-weight: normal;
  line-height: 24px;
}

.slider-wrapper .owl-item {
  max-width: 520px;
}

.slider-wrapper .owl-nav {
  position: absolute;
  top: -41%;
  right: 22%;
}

.slider-wrapper .owl-prev:focus {
  outline: none;
}

.slider-wrapper .owl-next:focus {
  outline: none;
}

.slider-wrapper .owl-nav .disabled {
  opacity: 0.4;
}

.slider-wrapper .owl-prev {
  background: url('../icons/rising/right_arrow.svg') 0 0 no-repeat !important;
  width: 48px;
  height: 48px;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  font-size: 0 !important;
  margin-right: 16px;
}

.slider-wrapper .owl-next {
  background: url('../icons/rising/right_arrow.svg') 0 0 no-repeat !important;
  width: 48px;
  height: 48px;
  font-size: 0 !important;
}

.contact-section {
  background: var(--color-light-grey);
  padding: 88px 0;
}

.footer {
  background: var(--dark-blue);
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  color: var(--color-light-grey);
  padding: 31px 0;
  text-align: center;
}

.contact-section-leftside {
  max-width: 592px;
}

.contact-section-rightside {
  padding: 40px;
  max-width: 592px;
  width: 100%;
  -webkit-box-shadow: 16px 16px 32px rgba(67, 86, 100, 0.08);
          box-shadow: 16px 16px 32px rgba(67, 86, 100, 0.08);
  background: var(--color-white);
  height: 100%;
}

.contact-section-rightside input {
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid var(--color-light-grey);
  background: var(--color-grey);
  font-size: var(--font-md-1);
  font-family: var(--f-pt-sans);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contact-section-rightside input:focus {
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(206, 164, 91, 1);
  box-shadow: inset 0px 0px 0px 2px rgba(206, 164, 91, 1);
}

.contact-section-rightside textarea:focus {
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(206, 164, 91, 1);
  box-shadow: inset 0px 0px 0px 2px rgba(206, 164, 91, 1);
}

.contact-section-rightside textarea {
  padding: 12px 16px;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 1px solid var(--color-light-grey);
  background: var(--color-grey);
  font-size: var(--font-md-1);
  font-family: var(--f-pt-sans);
  margin-bottom: 24px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contact-section-rightside button {
  width: 100%;
  padding: 10px;
  background: var(--color-light-grey);
  font-size: var(--font-md-1);
  font-weight: bold;
  text-align: center;
  padding: 20px 0;
  border: none;
  text-transform: uppercase;
  color: #72809D;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.contact-section-rightside button:focus {
  background: var(--color-gold);
  color: var(--color-white);
}

button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.modal-video-block {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-section .modal-dialog {
  max-width: 992px;
  width: 100%;
}

.video-section .modal-content {
  background: var(--color-dark-2);
  border: none;
}

.video-section .modal-header {
  border-bottom: none;
}

.video-section .modal-body {
  padding: 0 56px 56px;
}

.video-section .close {
  background: var(--dark-blue);
  padding: 8px 10px;
}

.video-section .modal {
  z-index: 5000;
  background: var(--color-dark-2);
}

.modal-video-block iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hc-play {
  background: url('../icons/play_btn.svg') center no-repeat;
  width: 70px;
  height: 70px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hc-play:hover {
  background: url('../icons/play_btn_dis.svg') center no-repeat;
}

.team-section .modal {
  background: rgba(000, 000, 000, 0.75);
}

.team-section .modal-dialog {
  max-width: 976px;
}

.team-section .modal-content {
  border-radius: 0;
  border: none;
}

.team-section .modal-body {
  padding: 0;
}

.modal-card-rightside {
  padding: 72px 32px 32px;
}

.modal-card-name {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-dark-2);
}

.modal-card-position {
  font-weight: bold;
  font-size: var(--font-base);
  color: var(--color-dark-2);
}

.modal-card-text {
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  color: var(--color-dark-2);
  line-height: 27px;
}

.hc-prev {
  background: url('../icons/hc-prev.svg') center center no-repeat, var(--color-light-grey);
  padding: 20px;
  border: none;
}

.hc-next {
  background: url('../icons/hc-next.svg') center center no-repeat, var(--color-light-grey);
  padding: 20px;
  border: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hc-nav-buttons {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 200;
}

.hc-btn-hover:hover {
  opacity: .8;
}

.hc-btn-hover:focus {
  outline: none;
}

.team-section .close {
  background: var(--dark-blue);
  padding: 8px 10px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.modal-card-image {
  -webkit-transform: translate(-32px, -32px);
          transform: translate(-32px, -32px);
  -webkit-animation: cardImage .9s ease-in-out;
          animation: cardImage .9s ease-in-out;
}

@-webkit-keyframes cardImage {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-32px, -32px);
            transform: translate(-32px, -32px);
  }
}

@keyframes cardImage {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-32px, -32px);
            transform: translate(-32px, -32px);
  }
}

.team-section .modal-dialog {
  overflow: hidden;
  padding-left: 32px;
}

.team-section .carousel-inner {
  overflow: visible;
}

.section-slider .modal-dialog {
  max-width: 976px;
}

.section-slider .modal-body {
  padding: 0 0 32px;
}

.section-slider .close {
  background: var(--dark-blue);
  padding: 8px 10px;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.carousel-item-content {
  padding: 0 32px;
}

.inputfile {
  width: 0.1px !important;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile+label {
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  color: var(--dark-blue);
  background-color: var(--color-grey);
  border: 1px solid var(--color-light-grey);
  padding: 15px 16px;
  margin-bottom: 24px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputfile+label {
  cursor: pointer;
  /* "hand" cursor */
}

.inputfile+label * {
  pointer-events: none;
}

.file-clip {
  background: url('../icons/clip.svg') center no-repeat;
  width: 18px;
  height: 18px;
}

#filesInfo {
  font-family: var(--f-pt-sans);
  font-size: var(--font-md-1);
  color: var(--dark-blue);
  padding: 0 16px;
  margin-bottom: 24px;
}

#filesInfo p {
  margin-bottom: 32px;
  background: url('../icons/cross.svg') 0 0 no-repeat;
  background-position: right center;
}

#formSuccess {
  display: none;
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}

#formSuccess .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
}

#formSuccess .info-item-icon {
  position: static;
  text-align: center;
  margin-right: 0;
}

#closeBtn {
  display: none;
}

/* MENU STYLES */
.menu-wrap {
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
  display: none;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  width: 56px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .menu>div {
  background: var(--color-dark-2);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  margin-bottom: 32px;
}

.menu-wrap .menu>div>div>ul>li>a {
  color: #FAFBFD;
  font-size: 24px;
  font-family: var(--f-montserrat);
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  position: relative;
}

.menu-wrap .menu>div>div>ul>li>a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
  width: 100%;
  height: 2px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: var(--color-gold);
}

.menu-wrap .menu>div>div>ul>li>a:hover::before {
  opacity: 1;
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
}

.lang-mobile {
  display: none;
}

.logo-mobile {
  padding: 0 40px;
  margin-bottom: 48px;
}

.logo-mobile img {
  width: 100%;
  display: block;
}

.fixed-header {
  padding: 0 !important;
}

.info-item {
  width: 25%;
}

.video-section {
  height: 100vh;
}

.about-country-block {
  overflow: hidden;
}

.hc-preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #101B29;
  z-index: 4000;
  -webkit-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
}

.hc-preloader-wrapper {
  position: absolute;
  width: 200px;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.preloader-done {
  opacity: 0;
  visibility: hidden;
}

.hc-preloader-loader {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hc-preloader-loader div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #CEA45B;
  -webkit-animation: go 0.8s infinite alternate ease;
  animation: go 0.8s infinite alternate ease;
  -webkit-box-shadow: 0 0 20px salmon;
          box-shadow: 0 0 20px salmon;
}

.hc-preloader-loader div:nth-child(1) {
  -webkit-animation-delay: -0.72s;
  animation-delay: -0.72s;
}

.hc-preloader-loader div:nth-child(2) {
  -webkit-animation-delay: -0.64s;
  animation-delay: -0.64s;
}

.hc-preloader-loader div:nth-child(3) {
  -webkit-animation-delay: -0.56s;
  animation-delay: -0.56s;
}

.hc-preloader-loader div:nth-child(4) {
  -webkit-animation-delay: -0.48s;
  animation-delay: -0.48s;
}

.hc-preloader-loader div:nth-child(5) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.hc-preloader-loader div:nth-child(6) {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.hc-preloader-loader div:nth-child(7) {
  -webkit-animation-delay: -0.24s;
  animation-delay: -0.24s;
}

.hc-preloader-loader div:nth-child(8) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.hc-preloader-loader div:nth-child(9) {
  -webkit-animation-delay: -0.08s;
  animation-delay: -0.08s;
}

.hc-preloader-loader div:nth-child(10) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes go {
  100% {
    background: transparent;
    -webkit-box-flex: 10;
            flex: 10;
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
}

@keyframes go {
  100% {
    background: transparent;
    -webkit-box-flex: 10;
        -ms-flex: 10;
            flex: 10;
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
}

.logo-preloader {
  margin-bottom: 32px;
}

.investment-block {
  background: url('../img/triangle-bg.png') 100% 100% no-repeat, var(--color-grey);
  padding: 120px 0;
}

.investment-left {
  max-width: 696px;
  padding-right: 32px;
}

.investment-title {
  font-size: var(--font-lg);
  font-weight: bold;
}

.investment-text {
  margin-bottom: 24px;
  line-height: 32px;
}

.tools-info {
  background: #fff;
  padding: 88px 0;
}

.tools-info-title {
  font-size: 48px;
  font-weight: bold;
}

.tools-info-item {
  margin-right: 32px;
  width: 32%;
}

.tools-info-item:last-child {
  margin-right: 0;
}

.tools-info-item-title {
  font-size: 20px;
  padding: 25px 0;
  text-align: center;
  font-weight: bold;
  background: #F0F4F8;
  border: 1px solid #D7E1EA;
  position: relative;
}

.tools-info-item-title::before {
  content: '';
  position: absolute;
  bottom: -8px;
  right: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #d7e1ea transparent transparent transparent;
}

.tools-info-item-subtitle {
  padding: 23px 0;
  font-weight: bold;
  background: #FAFBFD;
  text-align: center;
  border: 1px solid #D7E1EA;
  border-top: none;
}

.tools-info-list {
  border: 1px solid #D7E1EA;
  border-top: none;
  padding: 16px;
}

.tools-info-list li::before {
  content: '';
  background: #D7E1EA;
}

.tools-info-main {
  background: #CEA45B;
  font-weight: bold;
  padding: 23px 0;
  text-align: center;
  font-size: 18px;
  font-family: var(--f-pt-sans);
}

.info-border {
  border: 2px solid #CEA45B;
}

.tools-wrapper {
  margin-bottom: 40px;
}

.tools-items {
  margin-bottom: 64px;
}

.tools-text-bg {
  font-size: 18px;
  line-height: 32px;
  font-family: var(--f-pt-sans);
  background: #FAFBFD;
  padding: 40px;
  border: 1px solid #F0F4F8;
}

.tools-text {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  margin-bottom: 32px;
}

.accordeon-items {
  padding: 64px;
  background: #F0F4F8;
}

.hc-card {
  background: #FFFFFF;
-webkit-box-shadow: 0px 8px 16px rgba(67, 86, 100, 0.08);
        box-shadow: 0px 8px 16px rgba(67, 86, 100, 0.08);
cursor: pointer;
margin-bottom: 24px;
}
.hc-card-link {
  font-size: 20px;
  font-weight: bold;
  color: #1B2D43;
  margin-left: 16px;
}
.hc-card-number {
  font-weight: bold;
  font-size: 20px;
  display: -webkit-box;
  color: #101B29;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  background: #F0F4F8;
  border-radius: 50%;
  height: 40px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hc-card[aria-expanded="true"] .hc-card-number {
  background: var(--color-gold);
}

.toggle-plus {
  width: 24px;
  height: 24px;
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.toggle-plus::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  width: 24px;
  height: 2px;
  background: #D7E1EA;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.toggle-plus::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  width: 24px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 2px;
  background: #D7E1EA;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hc-card[aria-expanded="true"] .toggle-plus::after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background: #72809D;
}

.hc-card-title {
  padding: 30px 28px;
  border-bottom: 1px solid #F0F4F8;
}

.hc-card .card-body {
  padding: 40px;
}

.hc-card .inner-tab-list {
  max-width: none;
}

.tab-border {
  padding: 24px 0;
  margin: 32px 0;
  border-top: 1px solid #F0F4F8;
  border-bottom: 1px solid #F0F4F8;
}

.tab-border .inner-tab-text {
  margin-bottom: 0;
}

.tab-list-wrapper .inner-tab-list{
  max-width: none;
  margin-left: 20px;
}

.hc-parallax-block {
  background: #F0F4F8;
}